<ion-view view-title="Main Menu">
  <ion-content class="padding">
    <h2 class="title">Main Menu</h2>
    <h4>{{ user.email }}</h4>
    <div class="mainMenuButtons">
        <button class="button button-block button-positive" ng-click="streetMap()">
          Street Map
        </button>
        <button class="button button-block button-positive" ng-click="trafficInfo()">
          Traffic Info
        </button>
        <button class="button button-block button-positive" ng-click="userProfile()">
          User Profile
        </button>
        <button class="button button-block button-positive" ng-click="parkingStatus()">
        Parking Status
        </button>
        <button class="button button-block button-positive" ng-click="leaderboard()">
          Leaderboard
        </button>
        <button class="button button-block button-positive" ng-click="speechRecognition()">
          Speech Recognition
        </button>
        <button class="button button-block button-positive" ng-click="logOut()">
          Log me Out
        </button>
    </div>
  </ion-content>
</ion-view>
