<ion-view ion-nav-title="navTitle">
  <ion-header-bar class="bar-positive" align-title="center">

<!-- Below is the arrow back button -->
    <button class="button button-icon icon  ion-chevron-left" ng-click="goBack()" ></button>
    <h1 class="title">BangOn Taxi App</h1>
  </ion-header-bar>
  <ion-content class="padding">
    <h2 class="title">Ranks</h2>

<!-- Below is the list view for all the ranks and for each displays email, date and message -->
    <ion-list>
      <ion-item ng-repeat="message in messages" class="item-text-wrap">
        {{ message.email }}<br>
        {{ message.date }}<br>
        {{ message.message }}
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>

<!-- Below is the footer div with the two buttons "Home" and "Leaderboard" -->
<div class="bar bar-footer bar-positive">
     <button class="button icon ion-home" ng-click="goHome()"></button>
      <button class="button icon ion-trophy pull-right" ng-click="goLeaderboard()"></button>
</div>
