<ion-view ion-nav-title="navTitle">
  <ion-header-bar class="bar-positive" align-title="center">
    <button class="button icon ion-ios-arrow-back" ng-click="goBack()"></button>
    <h1 class="title">BangOn Taxi App</h1>
  </ion-header-bar>

  <ion-content class="padding">
    <h2 class="title">Road Info</h2>
<div class="roadInfoButtons">
    <button class="button button-block button-dark" ng-click="accidents()">
      Accidents
    </button>
    <button class="button button-block button-dark" ng-click="traffic()">
      Traffic
    </button>
    <button class="button button-block button-dark" ng-click="checkpoints()">
      Checkpoints
    </button>
    <button class="button button-block button-dark" ng-click="ranks()">
      Ranks
    </button>
</div>
  </ion-content>
</ion-view>
<div class="bar bar-footer bar-assertive">
     <button class="button icon ion-home" ng-click="goHome()"></button>
      <button class="button icon ion-trophy pull-right" ng-click="goLeaderboard()"></button>
</div>
