<ion-view ion-nav-title="navTitle">

  <ion-header-bar class="bar-assertive" align-title="center">
    <button class="button icon ion-arrow-left-c" ng-click="goHome()"></button>
    BangOn Taxi App
  </ion-header-bar>

  <ion-content class="padding">

    <h2 class="title">Street Map</h2>
    <div id="map" data-tap-disabled="true"></div>

  </ion-content>

  <div class="bar bar-footer bar-assertive">
    <button class="button icon ion-home" ng-click="goHome()"></button>
    <button class="button icon ion-trophy pull-right" ng-click="goLeaderboard()"></button>
  </div>

</ion-view>
