<ion-view view-title="Traffic Information">
  <ion-content class="padding">
    <h2 class="title">Traffic Information</h2>
<div class="trafficinfobuttons">
    <button class="button button-block button-positive" ng-click="accidents()">
      Accidents
    </button>
    <button class="button button-block button-positive" ng-click="radarscheckpoints()">
      Radars/Checkpoints
    </button>
    <button class="button button-block button-positive" ng-click="busyblockedroads()">
      Busy/Blocked Roads
    </button>
</div>
  </ion-content>
</ion-view>
