<ion-view view-title="User Profile">
  <ion-content class="padding">
    <h2 class="title">User Profile</h2>

    <form name="userProfileForm" novalidate="">
      <div class="list">
        <label class="item item-input">
          <input type="fname" name="fname" ng-model="form.fname" placeholder="Enter your First Name" required>
        </label>
        <label class="item item-input">
          <input type="lname" name="lname" ng-model="form.lname" placeholder="Enter your Last Name" required>
        </label>

        <label class="item item-input">
          <input type="email" name="email" ng-model="form.email" placeholder="Enter your Email" required>
        </label>
        <label class="item item-input">
          <input type="password" name="password" ng-model="form.password" placeholder="Choose your Password" required>
        </label>
        <label class="item item-input">
          <input type="text" name="licence" ng-model="form.licence" placeholder="Enter your Licence Number" required>
        </label>
      </div>

      <button type="submit" class="button button-block button-positive" ng-disabled="userProfileForm.$invalid" ng-click="userProfileForm.$valid && register(userProfileForm)">
        Save Changes
      </button>
    </form>

  </ion-content>
</ion-view>
<div class="bar bar-footer bar-assertive">
     <button class="button icon ion-home" ng-click="goHome()"></button>
      <button class="button icon ion-trophy pull-right" ng-click="goLeaderboard()"></button>
</div>
