/* Empty. Add your own CSS if you like */
.bar-assertive{
text-align: center;
}
.title {
text-align: center;
}
h4{
text-align: center;
}
.done{
  text-decoration: line-through;
  color:#ccc;
}
.scroll-content{
  background-color:#999999;
  height: 100%;
}
.list{
  margin-top: 100px;
}
.mainMenuButtons{
  margin-top: 100px;
}
.trafficInfoButtons{
  margin-top: 200px;
}
.welcomeButtons{
  margin-top: 300px;
}
