/* Empty. Add your own CSS if you like */
.title {
text-align: center;
}
h4{
text-align: center;
}
.scroll-content{
  background-color:#999666;
  height: 100%;
}
.list{
  margin-top: 70px;
}
.mainMenuButtons{
  margin-top: 100px;
}
.roadInfoButtons{
  margin-top: 200px;
}
.welcomeButtons{
  margin-top: 300px;
}

.scroll {
    height: 100%;
}
#map {
    width: 100%;
    height: 80%;
}
