/* Empty. Add your own CSS if you like */

.bar-assertive{
text-align: center;
color: black;
}
.title {
text-align: center;
}
h4{
text-align: center;
}
.padding{
  margin-top: 40px;
}
.scroll-content{
  background-color:#999999;
  height: 100%;
}
.list{
  margin-top: 70px;
}
.mainMenuButtons{
  margin-top: 100px;
}
.roadInfoButtons{
  margin-top: 200px;
}
.welcomeButtons{
  margin-top: 300px;
}
